#map-canvas{
    height:500px;
    width: 70%;
    float:left; 
}

body{
 
    background: #ffffff;
}

.card, .btn, .form-control{
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }

/* input[type='submit']:hover{
    background: steelblue; 
} */

/* #newcrimeform{
    position: relative;
    top: -30px;
    float: right; 
    width: 25%; 
} */